/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
/*JLL*/
.mui-content{
    background-color: #ffffff;
}
.mui-segmented-control .mui-control-item.mui-active {
    color: #fff;
    background-color:#06C1AE;
}
/*九宫格*/
.mui-grid-view.mui-grid-9{
    background-color: #fff;
    border:0;  
}
li.mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-3{
    border:0px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
    border:0px;
    padding:0px 15px;
}
.iconbg{/*九宫格背景圆圈*/  
    padding: .4em;
    border-radius: 50%;
    color:#fff;
}
.color1{
    background-color: #EA7047;
}
.color2{
    background-color: #FFB519;
}
.color3{
    background-color: #9BAFFF;
}
.color4{
    background-color: #F77198;
}
.color5{
    background-color: #F76868;
}
.color6{
    background-color: #63C7F9;
}
.color7{
    background-color: #FF9662;
}
.color8{
    background-color: #C9CCCF;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
    font-size:14px;
    margin-top:12px;
}

.s-mui-bar-nav~.s-mui-content {/*九宫格和导航栏*/
    padding-top: 4px;
}
.s-mui-content{
    background-color: #fff;
}
.s-mui-bar {/*导航栏*/
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;}
.s-mui-bar-nav {/*导航栏*/
    top: 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
}    
.s-mui-bar .mui-icon {/*导航栏图标*/
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
}  
.s-mui-bar .s-mui-bar-nav .mui-search{
    display: inline-block;
    width:78%;
}
